.places {
    border: 0;
}

.places_title {
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: -25px;
    text-align: left;
    width: 100%;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
    width: 100%; 
}

.places article {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    width: 390px;
}

.articles h2 {
    font-size: 30px;
    text-align: center;
}